{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "last 1 version",
          "> 1%",
          "IE 10"
        ]
      },
      "loose": true,
      "modules": false
    }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true }
    ]
  ],
  "comments": false
}
